body{
    background-color:black;
}

.synthwave{
    width:153px;
    height: 48px;
    gap:12px;
}
.logo{
    color:white;
    font-family: 'Staatliches', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    
}


.home{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
}

